.profile {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 410px;
}

.profile__form-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 70px 0 80px;
}

.profile__input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 260px;
  border-bottom: 1px solid #424242;
  padding-bottom: 17px;
}

.profile__input-container:last-of-type {
  padding-bottom: 0px;
  padding-top: 17px;
}

.profile__form-input {
  border-radius: 0;
  background-color: inherit;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: white;
  width: 120px;
  height: 14px;
  border: none;
  text-align:right;
}

.profile__input-container:last-of-type {
  border-bottom: none;
}

.profile__error{
  font-size: 10px;
  line-height: 12px;
  color:red;
  margin-top: 10px;
}

.profile__form-label {
  font-size: 11px;
  line-height: 13px;
  width: 130px;
  display: flex;
  color: white;
}

.profile__button {
  width: 260px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  background-color: inherit;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
  margin-top: 379px;
}

.profile__button:hover {
  opacity: 0.5;
}

.profile__button_disabled {
  color:gray;
}

.profile__link {
  margin: 16px 0 0;
  text-decoration: none;
  font-weight: 500;
  color: #ee3465;
  font-size: 12px;
  line-height: 15px;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.profile__link:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .profile {
    align-items: center;
  }

  .profile__form-title {
    margin: 236px 0 96px;
  }

  .profile__input-container {
    width: 410px;
  }
  .profile__button {
    margin-top: 210px;
  }
  .profile__link {
    font-size: 13px;
  }
  .profile__button {
    font-size: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__form-title {
    margin: 74px 0 123px;
  }

  .profile__button {
    margin-top: 220px;
  }
}
