.portfolio {
  display: flex;
  padding: 70px 0;
  justify-content: center;
  width: 100%;
  background-color: #202020;
}

.portfolio__content {
  width: calc(100% - 2 * 14px);
  display: flex;
  flex-direction: column;
}

.portfolio__title {
  font-size: 14px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin-bottom: 20px;
}

.portfolio__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0 19px;
  box-sizing: border-box;
}

.portfolio__container:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__link {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.04em;
  text-decoration: none;
  color: white;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.portfolio__link:hover {
  opacity: 0.5;
}

.portfolio__image {
  height: 28px;
  width: 18px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding: 90px 0;
  }
  .portfolio__content {
    width: calc(100% - 2 * 50px);
  }
  .portfolio__title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .portfolio__link {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__image {
    height: 50px;
    width: 27px;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio__content {
    width: calc(100% - 2 * 70px);
  }
  .portfolio {
    padding: 100px 0 125px;
  }

  .portfolio__link {
    font-size: 30px;
    line-height: 50px;
  }

  .portfolio__image {
    height: 60px;
    width: 29px;
  }
}
